button {
  font-family: "Roboto" !important;
}
.btn-disabled {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: #fff;
}
.btn-disabled:hover {
  background-color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 0%);
  color: #fff !important;
}
label {
  margin-bottom: 2px;
  font-size: 1.1rem;
}
.invalid-feedback {
  font-size: 0.85rem;
}
